.box3 {
    /* border: 2px solid black; */
    width: 100%;
    height: 500px;
    margin: 120px 0px 0px 0px;
    display: flex;
    justify-content: center;
    /* position: flex; */
}

.box1 {
    /* border: 2px solid black; */
    width: 100%;
    height: 500px;
    /* margin: 20px ; */
    display: flex;
    justify-content: center;
    /* position: flex; */
}

.inner {
    width: 450px;
    /* border: 2px solid black; */
    margin: 20px 20px;
    text-align: center;
    height: 450px;
    border-radius: 20px;
    background-color: #ffc0cb30;
    color: black;
    /* font-family: 'Abel', sans-serif; */
    font-weight: bold;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}
  .inner:hover{
    top: -10px;
    cursor: pointer;
  }
/* #navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
} */
img {
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
}

#types h3 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    font-family: 'Aboreto', cursive;
}

#types p {
    margin-top: 50px;
}

a {
    margin: 1px;
}

body {
    background: url('picture/back.jpg')no-repeat center center/cover;
}

.inner img {
    border-radius: 10px;
    /* border: 2px solid black; */
}

h1 {
    font-family: algerian;
    color: purple;
    text-align: center;
    font-size: 80px;
    margin-top: 172px;
}

.btn {
    color: black;
    border-radius: 34px;
    /* background-color: rgb(247, 242, 247); */
    border-color: 2px solid rgb(247, 242, 247);
    font-size: 13px;
    margin-left: 336px;
    padding: 15px;
    cursor: pointer;
    align-items: center;
    display: inline;
    font-size: 15px;
    font-weight: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn a{
    text-decoration: none;
    
}
.btn:hover{
    /* background-color: rgb(244, 230, 243); */
    text-decoration: underline;
}

.btn {
    color: black;
    border-radius: 34px;
    /* background-color: rgb(247, 242, 247); */
    border-color: 2px solid rgb(247, 242, 247);
    
    margin-left: 715px;
    padding: 15px;
   
    align-items: center;
    display: inline;
    /* font-size: 25px; */
    font-weight: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.btn a{
    text-decoration: none;
    
}
.btn:hover{
    /* background-color: rgb(244, 230, 243); */
    text-decoration: underline;
}

